
@font-face {
    font-family:'YekanBakhBold' ;
    src: url(/Font/YekanBakhBold.woff) format(woff);
}






*{
    padding: 0;
    margin: 0;
    font-family:'YekanBakhBold' ;
    
}
.header {
    img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0 10px;
    
}
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
background-color:#2c2c2c ;
width: 100%;
height: 80px;
font-size: 1rem;
}
.navbar{
    ul{
        display: flex;
        flex-direction: row-reverse;
    }
    li{
        list-style-type: none;
        
        
    }
    a{
        text-decoration: none;
        color: #ffffff;
        margin: 0 10px;
        padding: 3px 15px;

        &:hover{
            background-color: #2f0c0f;
            border-radius: 5px;
            transition: all 0.4s;
        }
    }
}
.serch{
    margin-left: 10px;
    input{
        outline: none;
        width: 250px;
        height: 32px;
        text-align: right;
        background-color: #2f0c0f;
        border: none;
        color: #ffffff;
        font-size: 0.9rem;
        border-radius: 10px;
    }
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon{
    display: none;
}
.onvan{
    background-color: #1c1c1c;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}
.top-content{
    width: 100%;
    margin: 15px 0px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat( 4 , 1fr);
grid-template-rows: auto;
    

}
.content img{
    width: 220px;
    height: 220px;
    &:hover{
        opacity: .75;
        transition: all 300ms ease-out;
    }
    
}
.content{
  display: grid;
  justify-content: center;
  
    p{
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
        
    }
}

@media(max-width:875px){
    
    .navbar{
        display: none;
    }
    .serch{
        display: none;
    }
    .svg-icon {
        display: block;
        width: 3em;
        height: 50%;
        margin-left: 7px;
      }
      
      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: #ffffff;
      }
      
      .svg-icon circle {
        stroke: #ffffff;
        stroke-width: 1;
      }
      .top-content{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
      }
      .content{
        grid-template-columns: repeat(auto-fil,minmax(250px,2fr));
      }
}
@media(max-width:907px){
    .top-content{
        grid-template-columns:repeat(2 , 1fr) ;
       
    }
    .content{
        grid-template: max-content;
        gap: 0;
    }
    
}
@media(max-width:451px){
    .top-content{
        grid-template-columns: 1fr;
    }

}













// Sass --watch Styles\sass:Styles\css